@model Real_Estate.Models.Apartment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Apartment_Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apartment_Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Builder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Builder.Company_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
